.login{
    background-color: aqua;
}
.navbar {
    background-color: #ffff;
}
h1{
    font-size:100px ;
}
.navbar .nav-link {
    color: black;
    font-size: 1.2rem;
}
.my-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.my-btn:hover {
  background-color: #45a049; 
}
@media screen and(min-width:768px) {
    .navbar-brand {
        margin-right: 0;
        padding: 0 2rem;
    }

    .navbar .nav-link {
        padding: 0.5rem 2rem;
    }

    .hero div,
    .about,
    .contact {
        max-width: 50%;
    }
}

@media screen and (min-width:1200px) {
    .container-lg {
        max-width: 80%;
    }
}